*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-yellow-light: #f8d26c;
	--color-yellow-medium: #f5bb43;

	--color-orange-light: #f36e54;
	--color-orange-medium: #ea573e;

	--color-purple-light: #9d80bb;
	--color-purple-medium: #8e7bb9;

	--color-green-light: #bbd534;
	--color-green-medium: #8bc04f;

	--color-blue-light: #5486c5;
	--color-blue-dark: #223f7b;

	--header-height: 3rem;
	--footer-height: 3.75rem;
}

@font-face {
	font-family: "ITC Avant Garde Gothic Std Bold";
	font-style: normal;
	font-weight: normal;
	src: local("ITC Avant Garde Gothic Std Bold"),
		url(font/itc-avant-garde-gothic-std-cufonfonts-webfont/"ITCAvantGardeStdBold.woff")
			format("woff");
}

body {
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

button {
	font-family: inherit;
}

.ui-mobile .ui-page-active {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[data-role="main"] {
	flex: 1 1 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

[data-role="header"] {
	height: var(--header-height);
	line-height: var(--header-height);
	background-color: white;
	border-width: 0;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 2;
}

[data-role="footer"] {
	width: 100%;
	height: var(--footer-height);
	line-height: var(--header-height);
	background-color: white;
	border-width: 0;
	bottom: 0;
	position: absolute;
	z-index: 2;
	box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2);
}

.ui-header .ui-title,
.ui-footer .ui-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.ui-header ul,
.ui-footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
}
.ui-footer li {
	flex: 1 1 auto;
	text-align: center;
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: normal;
}


.title {
	text-align: center;
}

.nav-icon {
	height: 3.75rem;
	padding-top: 0.3em;
}

.nav-icon img {
	height: 2rem;
	width: 2rem;
	vertical-align: middle;
}

.ui-header a,
.ui-footer a {
	display: block;
	color: inherit;
	font-weight: normal;
	text-decoration: none;
}

.ui-header a {
	padding: 0 1em;
}

.display-flex {
	display: flex;
}

.flex-vertical {
	flex-direction: column;
}

.flex-stretch {
	flex: 1 1 auto;
}
.flex-none {
	flex: none;
}

.text-center {
	text-align: center;
}

.scrollable {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#mood-page .scrollable {
	display: flex;
	flex-direction: column;
}

.marker {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	pointer-events: none;
}
.marker img {
	pointer-events: none;
	width: 4rem;
	height: 4rem;
}

.dot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
}

.hidden {
	display: none;
}



.profile-description {
	width: 80%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid;
}

/*ICONS*/

.icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 1.6em;
    position: absolute;
    color: white;
    opacity: 50%;
    z-index: 5;
    position: absolute;

}

.back {
	top: 0.8em;
	left: 0.8em;
	opacity: 95%;
}

.delete, .edit{
	top: 0.8em;
	right: 0.8em;
}

.edit{
	opacity: 75%;
}

.button-group {
	z-index: 2;
	position: absolute;
	width: 100%;
	bottom: 3em;
}

/* FORMS */
.form-control {
	margin: auto;
	width: 90%;
}
.ui-mobile .form-label {
	font-size: 0.8em;
	color: var(--color-yellow-medium);
	margin: 0.5em 0;
}

label {
	font-weight: bold;
	color: var(--color-blue-dark);
}

.form-input {
	display: block;
	width: 100%;
	border-width: 0;
	border-radius: 0;
	background-color: transparent;
	padding: 0.5em 1em;
	border-bottom: 1px solid var(--color-yellow-light);
	outline: 0;
	font-size: inherit;
}

.form-input-box {
	display: block;
	width: 100%;
	height: 100px;
	border-width: 0;
	border-radius: 25px;
	background-color: transparent;
	padding: 0.5em 1em;
	border: 1px solid var(--color-yellow-light);
	outline: 0;
	font-size: inherit;
}

.form-input:focus {
	border-bottom-color: var(--color-orange-light);
}

.form-input-box:focus {
	border-color: var(--color-orange-light);
}

.form-button {
	display: block;
	width: 100%;
	background-color: var(--color-yellow-light);
	color: white;
	font: inherit;
	font-weight: medium;
	text-decoration: none;
	padding: 0.5em 1em;
	text-align: center;
	border-radius: 0.3em;
	outline: 0;
	border-width: 0;
}
.form-button:hover {
	text-decoration: none;
	cursor: pointer;
}
.form-button:active {
	background-color: var(--color-yellow-medium);
}

/*lOGIN & SIGNUP PAGE*/

.logo {
	width: 40%;
	margin: auto;
}

#login-page img,
#signup-page img {
	width: 25%;
	margin-bottom: 10%;
}

#login-page form input,
#signup-page form input {
	display: block;
	margin: auto;
}

#login-page .cta-button {
	margin: 10%;
}

#login-page a,
#signup-page small {
	display: block;
	color: var(--color-orange-medium);
}

#login-page [data-role="main"],
#signup-page [data-role="main"] {
	text-align: center;
	justify-content: center;
	padding: 10em 0;
}

#signup-page [data-role="main"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-button {
	-webkit-appearance: none;
}

/*HOME PAGE*/
#home-page [data-role="main"] {
	background-size: cover;
}

.nav-air {
	bottom: 5em;
	position: absolute;
	width: 100%;
}

.cta-button {
	margin: 0.5em auto;
	display: block;
	width: 80%;
	border-width: 0;
	padding: 1em;
	border-radius: 0.5em;
	color: white;
	text-align: center;
	background-color: var(--color-orange-light);
	outline: 0;
	font-weight: bold;
}

.secondary-button {
	margin: 0.5em auto;
	display: block;
	width: 80%;
	border-width: 0;
	padding: 1em;
	border-radius: 0.5em;
	color: var(--color-orange-light);
	text-align: center;
	background-color: white;
	border: 3px solid var(--color-orange-light);
	outline: 0;
}

#home-page .circle {
	display: block;
	background-color: white;
	width: 1rem;
	height: 1rem;
	border-radius: 1em;
	z-index: 2;
}

.circle .four {
	right: 10em;
	bottom: 20em;
}

.profile-map {
	flex-grow: 1;
	position: relative;
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Window*/

.recent-image img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: auto;
    display: block;
}

.gm-style-iw-d {
	overflow: auto !important;
}

.gm-style .gm-style-iw-c {
	padding: 0;
	border-radius: 15px;

}

.gm-ui-hover-effect {
	width: 50px !important;
	height: 50px !important; 
}

button img {
	width: 30px !important;
	height: 30px !important;
	filter: invert(98%) sepia(98%) saturate(8%) hue-rotate(114deg) brightness(101%) contrast(104%);
}

.window-name {
    text-align: center;
    color: white;
}

/*LIST PAGE*/

#list-page [data-role="main"] img {
	padding: 0;
}

#list-page .moodlist {
	list-style: none;
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
}

#list-page .cta-button {
	margin-bottom: 5em;
}

#list-page img {
	width: 100%;
}

#list-page .moodlist li {
	width: 50%;
	display: inline;
	line-height: 0;
}

#list-page .circle {
	display: block;
	background-color: white;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 2em;
	border-radius: 2em;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	right: 1em;
	bottom: 3em;
	z-index: 2;
}

.moodlist a {
	display: block;
}

.moodlist {
	margin-block-start: 0;
	margin-block-end: 0;
}

/*ADD LOCATION PAGE*/

#addlocation-page .form-control {
	width: 90%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 98%;
	bottom: 0;
	position: absolute;
	z-index: 2;
	background-color: white;
	margin: auto;
	border-radius: 15px 15px 0 0;
}

button {
	color: white;
	border-width: 0;
	background-color: #999;
}

/*COLOR PALETTE SELECTION*/

/* Design a label to look however you want */

.control-group {
	display: flex;
}

.control-color-label {
	font-size: 2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	padding: 0;
	margin: 0;
}

/* Here we use a pseudo :after to add a symbol to the label */
.control-color-label:after {
	content: "×";
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8em;
	display: none;
}
.control-color-label[data-color="#F36E54"] {
	background-color: #f36e54;
}
.control-color-label[data-color="green"] {
	background-color: green;
}
.control-color-label[data-color="blue"] {
	background-color: blue;
}

.control-color-input:checked + .control-color-label {
	border-radius: 0;
}
.control-color-input:checked + .control-color-label:after {
	display: block;
}

.bgc {
	width: 100%;
	height: 40vh;
	top: 0;
	position: absolute;
	z-index: -1;
}

/*MOOD PROFILE & EDIT & ADD PAGE*/
#mood-page form input,
#moodedit-page form input,
#addmood-page form input {
	display: block;
	margin: 0;
}

#mood-page .cta-button,
#moodedit-page .cta-button {
	padding: 20;
	margin-top: 2em;
}

#addmood-page .cta-button {
	margin: auto;
	margin-bottom: 20px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#moodedit-page [data-role="main"],
#mood-page [data-role="main"],
#addmood-page [data-role="main"] {
	flex: none;
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#moodedit-page img, 
#mood-page img,
#addmood-page img {
	width: 100%;
	height: 100%;
}

.profile-image {
	height: 100vw;
	display: flex;
	justify-content: center;
}

.profile-name {
	position: absolute;
    color: white;
    top: 35vh;
}

.nav-tabs li {
	font-weight: 500;
}

#mood-page .nav-tabs li.active {
	background-color: var(--color-blue-light);
	color: white;
}

.profile-bottom {
	height: 20vh;
}

.profile-content,
.profile-map {
	position: relative;
	display: none;
}

.profile-content.active,
.profile-map.active {
	display: block;
}

#moodedit-page .profile-image,
#addmood-page .profile-image {
	position: relative;
}

#moodedit-page .profile-image .left,
#moodedit-page .profile-image .right,
#addmood-page .profile-image .left,
#addmood-page .profile-image .right {
	position: absolute;
	width: 50%;
	height: 100%;
}

#moodedit-page .profile-image .left,
#addmood-page .profile-image .left {
	left: 0;
}

#addmood-page .profile-image .right,
#moodedit-page .profile-image .right,
#addmood-page .profile-image .left,
#moodedit-page .profile-image .left {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #FFF;
}

#addmood-page .profile-image .left,
#moodedit-page .profile-image .left {
	justify-content: flex-start;
}

#addmood-page .profile-image .right,
#moodedit-page .profile-image .right {
	justify-content: flex-end;
}

#moodedit-page .profile-image .right,
#addmood-page .profile-image .right {
	right: 0;
}

#moodedit-page .form-control,
#addmood-page .form-control {
	width: auto;
	margin-bottom: 20px;
}

#moodedit-page textarea,
#addmood-page textarea {
	padding: 10px;
    border: 1px solid var(--color-yellow-light);
	border-radius: 8px;
}

.face-choose {
  position:absolute;
  padding:1em;
  user-select:none;
  z-index: 5;
}

.face-choose.left,
.face-choose.right {
  top:50%;
  transform:translateY(-50%);
}
.face-choose.right {
  right:0;
}
.face-choose.left {
  left:0;
}

.choose-bg {
	display: flex;
	justify-content: space-between;
}

.choose-bg .bg-color {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.choose-bg .selected {
	border: 4px solid #333;
}

/* NAV */
.nav-tabs ul,
.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.nav-tabs li,
.nav li {
	display: block;
}
.nav-tabs ul {
	display: flex;
}
.nav-tabs li {
	flex: 1 1 auto;
	text-align: center;
	line-height: var(--header-height);
}

footer .active:second-child{
	background-color: var(--color-yellow-light);
}

/*USER PROFILE PAGE*/

#profile-page ,
#profile-edit-page {
	background-color: var(--color-orange-light);
}

#profile-page .card,
#profile-edit-page .card {
	position: relative;
	width: 100%;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
}

#profile-page [data-role="main"],
#profile-edit-page [data-role="main"] {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#profile-page [data-role="footer"],
#profile-edit-page [data-role="footer"] {
	width: 100%;
	height: var(--footer-height);
	line-height: var(--header-height);
	background-color: white;
	border-width: 0;
	box-shadow: 0 0 10 rgb(0, 0, 25);
	position: relative;
	box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2);
}

#profile-page .cta-button {
	margin: auto;
	bottom: 10%;
}

.user-profile-image {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.user-profile-image .pic {
    position: relative;
	width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #f8d26c;
	overflow: hidden;
}

.user-profile-image .loading {
	/* center it */
    width: 60px;
	height: 60px;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.user-profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#profile-edit-page form input {
	display: block;
    margin: 0;
    width: 100%;
    height: 40px;
    border: 0;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid;
}

#profile-edit-page .form-control {
	width: auto;
	margin-bottom: 20px;
}

#profile-edit-page #edit-upload-image {
	position: relative;
}

#profile-edit-page .upload-button {
	margin: 0 auto 10px auto;
	position: relative;
	width: 50%;
	height: 50px;

    display: block;
    border-width: 0;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: var(--color-orange-light);
    outline: 0;
}

#profile-edit-page .upload-button input {
	opacity: 0;
	height: 100%;
}

#profile-edit-page .upload-button div {
    position: absolute;
	margin: 0;
	height: 100%;
}

#profile-edit-page .upload-button p {
	margin: 0;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* LOAD SPINNER generated by https://loading.io/ */
@keyframes ldio-la70mjnaird {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-la70mjnaird div {
  left: 45.5px;
  top: 10.5px;
  position: absolute;
  animation: ldio-la70mjnaird linear 1s infinite;
  background: #fe718d;
  width: 9px;
  height: 19px;
  border-radius: 4.5px / 9.5px;
  transform-origin: 4.5px 39.5px;
}.ldio-la70mjnaird div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9090909090909091s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.8181818181818182s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.7272727272727273s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.6363636363636364s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.5454545454545454s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.45454545454545453s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.36363636363636365s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2727272727272727s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.18181818181818182s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.09090909090909091s;
  background: #fe718d;
}.ldio-la70mjnaird div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-rqp50szv30g {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-la70mjnaird {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.6);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-la70mjnaird div { box-sizing: content-box; }


.recent-mood {
	display: flex;
    flex-direction: column;
    width: 250px;
}
.recent-image {
	background-color: #37BA9A;
    display: flex;
	flex-direction: column;
}
.recent-image h2 {
	margin: -10px 0 20px 0;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
}

.recent-description {
	min-height: 40px;
	text-align: center;
	line-height: 140%;
    margin: 0;
	padding: 20px;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #999;
}

.gm-style-iw-d {
	overflow: hidden !important;
}
